<section class="about">
  <div class="container">
    <h1 class="display-4">About App</h1>
    <p>
      This app has been created by Jayesh Saini for demo purposes. It is using
      the public API from JSONPlaceholder for the Post API data.
    </p>
    <a
      href="https://jsonplaceholder.typicode.com/posts"
      target="_blank"
      class="btn btn-primary btn-lg"
      >JSONPlaceholder/Posts</a
    >
    <br />
    <a
      href="https://jsonplaceholder.typicode.com/guide/"
      target="_blank"
      class="btn btn-secondary mt-4"
      >API Documentation</a
    >

    <p class="mt-4">
      The API has all the routes for GET, POST, UPDATE & DELETE. But POST,
      UPDATE, & DELETE don't actually change the data. They just reflect in the
      API calls. (Check the network calls in Developer Tools for API requests)
      GET data always works as expected and shows the data of 100 posts.
    </p>
  </div>
</section>
